body {
  margin: 20px;
  padding: 20px;
  font-family: serif;
}

h1{
  font-size: 25px;
}

h2{
  font-size: 20px;
}

h3, p{
  font-size: 15px;
}

ul{
  list-style: none;
}

p{
  margin-right: 40px;
}
aside{
  box-shadow: 0px 0px 10px rgb(182, 182, 182);
  width: 30%;
  float: left;
}

.name{
  display: inline-block;
  position: relative;
  top: -70px;
  color: white;
  z-index: 2;
  left: 20px;
}

img{
  position: relative;
  min-width: 100%;
  max-width: 100%;
  z-index: 1;
}

.infos{
  position: relative;
  top: -50px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.infos i{
  position: relative;
  float: left;
  left: -20px;
  color: rgb(16, 124, 124)
}
.skills{
  position: relative;
  left: -20px;
  top: -30px;
}

.skills i{
  float: left;
  position: relative;
  left: 40px;
}

.skills h2{
  position: relative;
  left: 50px;
}

.box-grey{
  border: 1px solid rgb(182, 182, 182);
  border-radius: 10px;
  width: 100%;
  text-align: center;
  color: white;
}

.skill-percentage-90{
  border: 1px solid rgb(16, 124, 124);
  background-color: rgb(16, 124, 124);
  border-radius: 10px;
  width: 90%;
}

.skill-percentage-80{
  border: 1px solid rgb(16, 124, 124);
  background-color: rgb(16, 124, 124);
  border-radius: 10px;
  width: 80%;
}

.skill-percentage-75{
  border: 1px solid rgb(16, 124, 124);
  background-color: rgb(16, 124, 124);
  border-radius: 10px;
  width: 75%;
}

.skill-percentage-50{
  border: 1px solid rgb(16, 124, 124);
  background-color: rgb(16, 124, 124);
  border-radius: 10px;
  width: 50%;
}

.languages{
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.languages i{
  float: left;
  position: relative;
  top: 20px;
  left: 20px;
}

.languages h2{
  position: relative;
  left: 50px;
}

.languages ul{
  position: relative;
  left: -20px;
}

.skill-percentage-100{
  border: 1px solid rgb(16, 124, 124);
  background-color: rgb(16, 124, 124);
  border-radius: 10px;
  width: 100%;
}

.skill-percentage-25{
  border: 1px solid rgb(16, 124, 124);
  background-color: rgb(16, 124, 124);
  border-radius: 10px;
  width: 25%;
}

.work-experience{
  box-shadow: 0px 0px 10px rgb(182, 182, 182);
  width: 65%;
  position: relative;
  float: right;
}

.fa-suitcase, .fa-user-graduate{
  float: left;
  top: 20px;
  font-size: 25px;
}

.work-experience h1, .education h1{
  position: relative;
  left: 20px;
  color: rgb(16, 124, 124);
}

.work-experience i, .education i{
  position: relative;
  float: left;
  color: rgb(16, 124, 124);
  left: 20px;
  margin-right: 20px;
}

.work-experience h3, .work-experience p, .education h3, .education p{
  position: relative;
  left: 20px;
}

.current-box{
  border: 1px solid rgb(16, 124, 124);
  background-color: rgb(16, 124, 124);
  color: white;
  border-radius: 5px;
  padding: 2px;
  display: inline-block;
  margin-top: 0;
  margin-left: 0px;
  margin: 0;
}

.date-colored{
  color: rgb(16, 124, 124);
  position: relative;
  display: inline-block;
  margin: 0;
  margin-right: 20px;
}

.education{
  box-shadow: 0px 0px 10px rgb(182, 182, 182);
  width: 65%;
  position: relative;
  float: right;
  top: 20px;
}
